@model JobClassifyVM
@{
    ViewData["Title"] = "Create Job - Classify";
    Layout = "_EmployerLayout";
}

<h2>Step 1: Classify</h2>

<form asp-action="Edit" method="post">

</form>

@section Scripts {
}
