@model JobSubscriptionVM
@{
    ViewData["Title"] = "Create Job - Subscription";
    Layout = "_EmployerLayout";
}

<h2>Step 2: Choose Promotion</h2>

<form asp-action="Edit" method="post">

</form>

@section Scripts {
}