@model ForgotPasswordVM
<form asp-action="ForgotPassword" method="post" class="container">

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit">Send Reset Link</button>

</form>
<p>@ViewBag.Msg</p>
