@model LoginVM

@{
    Layout = "_EmptyLayout";
}

<div class="signIn-container account-theme">
    <a asp-controller="Home" asp-action="Employer" class="back-btn">Are you an Employer?</a>

    <h1>JobSeeker Login</h1>

    <form asp-controller="Account" asp-action="Login" method="post" asp-antiforgery="true" class="email-login">
        <div class="form-group">
            <input asp-for="Email" placeholder="Email Address" required />
            <span asp-validation-for="Email" class="error"></span>
        </div>

        <div class="form-group">
            <input asp-for="Password" placeholder="Password" required />
            <span asp-validation-for="Password" class="error"></span>
        </div>

        <div class="form-group checkbox-group">
            <label><input asp-for="RememberMe"> Remember Me</label>
        </div>

        <button type="submit">Login</button>
    </form>

    <div class="divider">or</div>

    <button type="button" class="social-btn google" onclick="googleLogin()">
        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google" class="google-icon">
        Continue with Google
    </button>

    <script>
        function googleLogin() {
            window.location.href =
                "https://accounts.google.com/o/oauth2/v2/auth" +
                "?client_id=752910921670-4krjej4vtfvrr1mtv346uthklt1pd7cn.apps.googleusercontent.com" +
                "&redirect_uri=https://localhost:7213/Account/GoogleCallback" +
                "&response_type=code" +
                "&scope=openid%20email%20profile";
        }
    </script>


    Don’t have account?<a asp-controller="Account" asp-action="Register"> Register One!</a>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/sign-in.css" />
}
<script src="https://accounts.google.com/gsi/client" async defer></script>