@model Demo.Models.LoginVM


<div class="signIn-container">
    <h1>Sign In</h1>

    <div class="social-login">
        <button href="https://www.google.com" class="social-btn google" target="_blank">
            <i class="fab fa-google"></i> Continue with Google
        </button>

        <button href="https://www.facebook.com" class="social-btn facebook" target="_blank">
            <i class="fab fa-facebook"></i> Continue with Facebook
        </button>
        <button href="https://www.apple.com" class="social-btn apple" target="_blank">
            <i class="fab fa-apple"></i> Continue with Apple
        </button>
    </div>

    <div class="divider">or</div>

    <form asp-controller="Account" asp-action="Login" method="post" asp-antiforgery="true" class="email-login">
        <input type="email" name="email" placeholder="Email Address" required />
        <input type="password" name="password" placeholder="Password" required />
        <label><input type="checkbox" name="rememberMe"> Remember Me</label>
        <button type="submit">Login</button>
    </form>

    <a asp-controller="Account" asp-action="Register">Don’t have account?</a>

</div>

@section Styles {
    <link rel="stylesheet" href="/css/signIn.css" />
}