@model UserVM
@{
	ViewBag.Title = "Welcome";
}

<header>Register Page</header>

<form method="post"
	  class="form" >
	<div asp-validation-summary="ModelOnly"></div>
	
	<label asp-for="Email"></label>
	<input asp-for="Email"/>

	<label asp-for="PasswordHash"></label>
	<input asp-for="PasswordHash"/>

	<label asp-for="PhoneNumber"></label>
	<input asp-for="PhoneNumber"/>
	<span asp-validation-for="PasswordHash"></span>

	<label asp-for="Role"></label>
	<input asp-for="Role" />
	
	<section>
	<button type="submit">submit</button>
		<a asp-controller="Account" asp-action="Login">Already have an account? Login</a>
	</section>
</form>
