@model RegisterVM

@{
    Layout = "_EmptyLayout";
}

<div class="signIn-container employer-theme">
    <a asp-controller="Home" asp-action="Index" class="back-btn">Are you looking for a job?</a>

    <h1>Employer Register</h1>

    <form asp-controller="Employer" asp-action="Register" class="email-login" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="validation-summary"></div>

        <div class="form-group">
            <input asp-for="Email" type="email" placeholder="Email Address" required>
            <span asp-validation-for="Email" class="error"></span>
        </div>

        <div class="form-group">
            <input asp-for="Password" type="password" placeholder="Password" required>
            <span asp-validation-for="Password" class="error"></span>
        </div>

        <div class="form-group">
            <input asp-for="Confirm" type="password" placeholder="Confirm Password" required>
            <span asp-validation-for="Confirm" class="error"></span>
        </div>

        @* <div class="form-group">
            <label asp-for="Photo"></label>
            <label class="upload">
                <small>Select Photo...</small>
                <input asp-for="Photo" accept="image/jpeg,image/png" hidden>
                <img src="" alt="Preview" />
            </label>
            <span asp-validation-for="Photo" class="error"></span>
        </div> *@

        <div class="form-actions">
            <button type="submit" class="login-btn">Register</button>
        </div>
    </form>

    Already have an account? <a asp-controller="Employer" asp-action="Login">Sign In</a>

</div>


@section Styles {
    <link rel="stylesheet" href="/css/sign-in.css" />
}