@model Demo.Models.EducationVM

<h2>创建</h2>

<form asp-action="CreateEducation" method="post">
    <div class="form-group">
        <select asp-for="UserId" asp-items="Model.UserOptions" class="form-control"></select>
        <select asp-for="Qualification" asp-items="Model.QualificationOptions" class="form-control"></select>
        <select asp-for="Institution" asp-items="Model.InstitutionOptions" class="form-control"></select>
    </div>

    <button type="submit" class="btn btn-success">保存</button>
    <a class="btn btn-secondary" href="/Test/Educations">返回</a>
</form>
