@model List<Demo.Models.Education>

<h2>列表</h2>
<a class="btn btn-primary" href="/Test/CreateEducation">创建</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>学历</th>
            <th>学校</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
            <tr>
                <td>@e.Id</td>
                <td>@e.User.Name</td>
                <td>@e.Qualification</td>
                <td>@e.Institution</td>
                <td>
                    <a href="/Test/EditEducation/@e.Id">编辑</a> |
                    <a href="/Test/DeleteEducation/@e.Id">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
