<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Job Seeker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.png" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)
</head>
<body>
    <!-- Flash Message -->
    <partial name="_FlashMessage" />

    <!-- Confirm Modal -->
    <partial name="_ConfirmModal" />

    <main class="main-content">
        @RenderBody()
    </main>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/app.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
