<!-- Side Menu -->
<div class="sideMenu">
    <div class="menu-header hidden">
        <i class="fas fa-times closeMenu"></i>
    </div>
    <ul class="menu-list">
        <li class="nav-item" data-get="/">
            <i class="fas fa-home"></i> Home
        </li>
        <li class="nav-item" data-get="/">
            <i class="fas fa-comment-dots"></i> Notifications
        </li>
        <li class="nav-item" data-get="/">
            <i class="fas fa-bookmark"></i> Favorites
        </li>
        <li class="nav-item" data-get="/">
            <i class="fas fa-cog"></i> Settings
        </li>
    </ul>
</div>

<!-- Sidebar Overlay -->
<div class="overlay"></div>
