<!-- Side Menu -->
<div class="sideMenu">
    <div class="menu-header hidden">
        <i class="fas fa-times closeMenu"></i>
    </div>
    <ul class="menu-list">
        <li class="nav-item" data-get="/">
            <i class="fas fa-home"></i> Home
        </li>
        <li class="nav-item" data-get="/Account/ForgotPassword">
            <i class="fas fa-cog"></i> Password Reset
        </li>
        <li class="nav-item" data-get="/Account/ChangeEmail">
            <i class="fas fa-cog"></i> Change Email
        </li>
        <li class="nav-item" data-get="/Admin/Dashboard">
            <i class="fas fa-cog"></i> Admin
        </li>
    </ul>

    <ul class="menu-list nav">
        <li class="nav-item" data-get="/">
            <i class="fas fa-comment-dots"></i> Profile
        </li>
        <li class="nav-item" data-get="/">
            <i class="fas fa-bookmark"></i> Employer
        </li>
        <li class="nav-item" data-get="/">
            <i class="fas fa-cog"></i> SignIn
        </li>
    </ul>
</div>

<!-- Sidebar Overlay -->
<div class="overlay"></div>
