<!-- Side Menu -->
<div class="sideMenu">
    <div class="menu-header hidden">
        <i class="fas fa-times closeMenu"></i>
    </div>
    <ul class="menu-list">
        <li class="nav-item" data-get="/">
            <i class="fas fa-home"></i> Home
        </li>
        <li class="nav-item" data-get="/">
            <i class="fas fa-comment-dots"></i> Notifications
        </li>
        <li class="nav-item" data-get="/">
            <i class="fas fa-bookmark"></i> Favorites
        </li>
        <li class="nav-item">
            <a asp-controller="Account" asp-action="Settings">
                <i class="fas fa-cog"></i> Settings
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Admin" asp-action="Dashboard">
                <i class="fas fa-cog"></i> Admin
            </a>
        </li>
    </ul>

    <ul class="menu-list nav">
        <li class="nav-item" data-get="/">
            <i class="fas fa-comment-dots"></i> Profile
        </li>
        <li class="nav-item" data-get="/">
            <i class="fas fa-bookmark"></i> Employer
        </li>
        <li class="nav-item" data-get="/">
            <i class="fas fa-cog"></i> SignIn
        </li>
    </ul>
</div>

<!-- Sidebar Overlay -->
<div class="overlay"></div>
