@model Demo.Models.User

@if (ViewBag.Message != null)
{
    <div class="alert alert-warning">@ViewBag.Message</div>
}
@{
    ViewData["Title"] = "Edit Summary";
}

<form asp-controller="Profile" asp-action="EditSummary" method="post">
    <label>Summary:</label>
    <textarea asp-for="Summary" class="form-control" rows="6"></textarea>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Summary"
       asp-controller="Profile"
       asp-route-id="@Model.Id"
       class="btn btn-secondary"
       data-ajax="true"
       data-ajax-mode="replace"
       data-ajax-update="#SummaryContainer">
        Cancel
    </a>
</form>
