@model Demo.Models.User

<h2>Xueloo</h2>
<div class="profile-info">
    <div><i class="fas fa-map-marker-alt"></i> Kuala Lumpur</div>
    <div><i class="fas fa-envelope"></i> example@gmail.com</div>
    <div><i class="fas fa-phone"></i> 012-3456789</div>
</div>
<form asp-controller="User" asp-action="Edit" method="get">
    <button type="submit" class="edit-btn">Edit</button>
</form>
