@model Demo.Models.User

<h2>Self Introduction</h2>

<div id="SummaryContainer">
    @await Html.PartialAsync("_Summary", Model)
</div>

@if (Model != null && !string.IsNullOrEmpty(Model.Id))
{
    <!-- 显示已有内容 -->
    <div class="summa" id="summaryContainer" readonly>@Model.Summary</div>
    <br>
    <a asp-action="EditSummaryPartial"
       asp-controller="Profile"
       asp-route-userId="@Model.Id"
       data-ajax="true"
       data-ajax-mode="replace"
       data-ajax-update="#summaryContainer">
        <button type="button" class="edit-btn">Edit</button>
    </a>

}

else
{
    <!-- 没有登录或找不到用户 -->
    <p>No content. Please log in.</p>
}
