@{
    ViewBag.Title = "Profile";
}

<div id="profile-container" class="profile-container">
    <div class="tab-buttons">
        <button class="tab-button active" data-tab="Profile">Profile</button>
        <button class="tab-button" data-tab="Summary">Summary</button>
        <button class="tab-button" data-tab="CareerHistory">Career History</button>
        <button class="tab-button" data-tab="Education">Education</button>
    </div>

    <div id = "tab-content" class="profile-card">
        <partial name="~/Views/Profile/_Profile.cshtml" model="Model" />
        <partial name="~/Views/Profile/_Summary.cshtml" />
        <partial name="~/Views/Profile/_CareerHistory.cshtml" />
        <partial name="~/Views/Profile/_Education.cshtml" />
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/Profile.css" />
}

@section Scripts {
    <script src="~/js/Profile.js"></script>
}