@model List<Demo.Models.Resume>

<h2>列表</h2>
<a class="btn btn-primary" href="/Test/CreateResume">创建</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="col-id">ID</th>
            <th>用户名</th>
            <th>Resume Image</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td class="col-id">@r.Id</td>
                <td>@r.User.Name</td>
                <td class="col-logo">
                    <img alt="company logo" src="@r.ImageUrl" style="max-height: 40px;" />
                </td>
                <td>
                    <a href="/Test/EditResume/@r.Id">编辑</a> |
                    <a href="/Test/DeleteResume/@r.Id">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>